<%= form_for check_in_form, url: work_site_check_ins_path(work_site) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <div class="Signature" id="Signature">
      <canvas class="Signature-pad"></canvas>
      <div class="Signature-footer">
          <div class="description">Sign above</div>
          <%= f.hidden_field :signature, class: 'signature-field' %>
          <button type="button" id="clear" class="Signature-button Signature-clear" data-action="clear">Clear</button>
          <%= f.submit 'Save', class: 'submit' %>
        </div>
    </div>
    <div class="text"></div>
  <p>
  </p>
<% end %>
