<%= form_for check_in_form, url: check_ins_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :work_site_id %>
    <%= f.collection_select :work_site_id, work_sites, :id, :address %>
  </p>

  <p>
    <%= f.label :action %>
    <%= f.select :action, ShiftEvent::ACTIONS.collect { |key, value| [value, key] } %>
  </p>

  <div class="Signature" id="Signature">
    <canvas class="Signature-pad"></canvas>
    <div class="Signature-footer">
      <div class="description">Sign above</div>
      <%= f.text_field :signature, id: 'hidden' %>
      <button type="button" class="Signature-button Signature-clear" data-action="clear">Clear</button>
      <button type="button" class="Signature-button Signature-save" data-action="save">Save</button>
    </div>
  </div>
<% end %>
