<div class='row' id="check-in-form">
  <%= form_for check_in_form, url: check_ins_path, html: { class: 'col s12' } do |f| %>
    <div class="row">
        <p>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'input-field col s12' %>
        </p>
    </div>
    <div class='row'>
        <p>
            <%= f.label :email %>
            <%= f.text_field :email, class: 'input-field col s12' %>
        </p>
    </div>
    <div class="row">
        <p>
            <%= f.label :work_site_id %>
            <%= f.collection_select :work_site_id, work_sites, :id, :address %>
        </p>
    </div>
    <div class="row">
        <p>
            <%= f.label :day %>
            <%= f.text_field :day, class: 'datepicker col s12' %>
        </p>
    </div>
    <div class='row'>
        <p>
            <%= f.label :time %>
            <%= f.text_field :time, id: 'pick-a-time', class: 'col s12' %>
        </p>
    </div>
    <div class='row'>
        <p>
            <%= f.label :action %>
            <%= f.select :action, ShiftEvent::ACTIONS.collect { |key, value| [value, key] } %>
        </p>
    </div>
    <div class='row'>
        <p>
            <%= f.check_box :minor, id: 'minor' %>
            <%= f.label 'I am signing on behalf of the named individual as their parent or guardian', for: 'minor' %>
        </p>
    </div>
    <div class='row'>
      <strong>Disclaimer:</strong>
      <p>I understand my or my dependent’s work as a volunteer on or about a NOAHH construction site or project could expose me or my dependent to various risks of injury or illness. I understand and assume these risks, and agree not to hold New Orleans Area Habitat for Humanity, Inc. (NOAHH), its agents, employees, volunteers, or volunteer homeowners liable for such injury or illness. I further understand that it is the policy of NOAHH that all volunteers or visitors must abide by the verbal safety instructions and requirements of NOAAH staff that are outlined on the construction site. I permit NOAHH to use photos, video, and any other likeness of me taken during volunteer events for fundraising, publicity, or other appropriate uses promoting the mission of New Orleans Area Habitat for Humanity. I will not receive any pay or other reward for the use of my likeness, voice, or picture.</p>
      <div class="Signature" id="Signature">
        <div class="Signature-visible description">Please sign here:</div>
          <canvas class="Signature-visable Signature-pad"></canvas>
          <div class="Signature-footer">
              <%= f.hidden_field :signature, class: 'signature-field' %>
              <button type="button" id="clear" class="Signature-button Signature-clear waves-effect waves-light btn-large" data-action="clear">Clear</button>
              <%= f.submit 'Save', class: 'Signature-button submit waves-effect waves-light btn-large' %>
          </div>
      </div>
    </div>
  <% end %>
</div>
