<h1>Volunteer Signatures</h1>

<h2><%= @begin_date %>&ndash;<%= @end_date %></h2>

<table>
  <tr>
    <td>Work Site</td>
    <td>Day</td>
    <td>Time</td>
    <td>Action</td>
    <td>Volunteer</td>
    <td>Signature!</td>
  </tr>

<% @shift_events.each do |event| %>
  <tr>
    <td><%= event.address %></td>
    <td><%= event.day %></td>
    <td><%= event.occurred_at.strftime("%I:%M%p") %></td>
    <td><%= event.action %></td>
    <td><%= event.volunteer_email %></td>
    <td><img src='<%= event.signature %>' /></td>
  </tr>
<% end %>
</table>

<br>
