<% content_for(:title) { 'Signatures Report' } %>

<h1>Volunteer Signatures</h1>

<%= form_tag signatures_report_path, method: 'get', id: 'set_date_range' do %>
  <div class="row">
    <div class="col s12 m4">
      <%= label_tag :begin_date %>
      <%= date_field_tag :begin_date, @begin_date.strftime('%e %B, %Y'), class: 'datepicker' %>
    </div>
    <div class="col s12 m4">
      <%= label_tag :end_date %>
      <%= date_field_tag :end_date, @end_date.strftime('%e %B, %Y'), class: 'datepicker' %>
    </div>
    <div class="col s12 m4">
      <%= submit_tag 'Generate', name: nil, class: 'waves-effect waves-light btn-large' %>
    </div>
  </div>
<% end %>

<% if @shift_events.any? %>
  <%= render 'desktop_report' %>
  <%= render 'mobile_report' %>
<% else %>
  <h5>No data for this date range</h5>
<% end %>
