<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= "#{content_for(:title)} | " if content_for(:title).present? %>
            Habitat for Humanity NOLA
        </title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= render 'favicon' %>
        <%= csrf_meta_tags %>
        <%= render 'analytics_js' %>
    </head>
    <body>

        <div class='container col s10 m12'>
            <%= render 'flash_messages' %>
            <%= yield %>

            <%# Show Rails Footnotes in development for
                application performance insight %>
            <%= content_tag(:div, '', id: 'footnotes_holder') if Rails.env.development? %>
        </div>
    </body>
</html>
