<!DOCTYPE html>
<html>
    <head>
        <title>HabitatHumanity</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
    </head>
    <body>

        <div class='container col s10 m12'>
            <%= render 'flash_messages' %>
            <%= yield %>
            
            <%# Show Rails Footnotes in development for
                application performance insight %>
            <%= content_tag(:div, '', id: 'footnotes_holder') if Rails.env.development? %>
        </div>
    </body>
</html>
